services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env  
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app    # Mapeamos la carpeta backend local a /app en el container
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy # Espera a que la DB esté lista de verdad
    env_file:
      - .env
    environment:
      # Aquí construimos la URL usando las variables del .env
      - DJANGO_SETTINGS_MODULE=core.settings.prod
      - DB_HOST=db
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}

  frontend:
    build:
      context: ./frontend 
    ports:
      - "80:80"           # Accedes por http://localhost
    depends_on:
      - backend           # Inicia después del backend

volumes:
  postgres_data:
